.daily {
    text-align: left;
    box-sizing: border-box;
    border-radius: 0.5em;
    width: 100%;
    background-color: rgba(240,240,255,0.2);
    padding: 1em;
}

.daily h1 {
    display: block;
    margin: 0;
    padding: 0 0 1em 0;
    font-size: 0.8em;
    color: rgba(240,240,255,0.7);
    border-bottom: 1px solid rgba(240,240,255,0.25);
}

.dailyEntry {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em 0;
    border-bottom: 1px solid rgba(240,240,255,0.25);
    font-size: 1.1em;
    line-height: 100%;
}

.dailyEntry:last-of-type {
    border-bottom: 0;
}

.dailyEntry .day {
    width: 20%;
}

.dailyEntry .icon {
    width: 15%;
    text-align: center;
}

.dailyEntry .temp {
    text-align: right;
    width: 65%;
}

.dailyEntry .low {
    opacity: 0.7;
}

.gradientContainer {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 0.2em;
    margin: 0 1em;
    background-color: rgba(120,120,150,0.5);
    border-radius: 1em;
}

.gradient {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: 0;
    padding: 0.2em;
    border-radius: 1em;

    /* dynamically set left, width, and background */
    /*left: 0;
    width: 100%;*/
}

.gradient .now {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: 0;
    padding: 0.2em;
    border-radius: 1em;
    /*border-right: 0.05em solid rgba(120,120,130,0.6);
    border-left: 0.05em solid rgba(120,120,130,0.6);
    border-top: 0.05em solid rgba(0,0,0,0);
    border-bottom: 0.05em solid rgba(0,0,0,0);*/
    background-color: rgba(240,240,255,0.9);
}