.sidebarContainer input[type=checkbox] {
    display: none;
}

.sidebarContainer input[type=checkbox]:checked + .sidebar {
    display: block !important;
}

.sidebar {
    display: block;
    box-sizing: border-box;
    position: absolute;
    padding: 1em;
    width: 20vw;
    min-height: 100vh;
    background-color: rgba(32,32,32,0.6);
    color: #eee;
}

.sidebar .item {
    user-select: none;
    cursor: default;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0 0 0.6em 0;
    padding: 1em;
    border-radius: 0.3em;
}

.sidebar .active {
    background-color: rgba(128,128,128,0.6);
}

.sidebar .item div:first-of-type {
    width: 100%;
}

.sidebar h1 {   /* temp */
    margin: 0;
    padding: 0;
    font-size: 4.1em;
    line-height: 100%;
    font-weight: 300;
}

.sidebar h2 {   /* place name */
    margin: 0 0 0.3em 0;
    padding: 0;
    font-size: 1.3em;
    line-height: 100%;
}

.sidebar h3 {   /* local time */
    margin: 0 0 0.7em 0;
    padding: 0;
    font-size: 0.9em;
    line-height: 100%;
}

.sidebar h4 {   /* conditions */
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    line-height: 100%;
    opacity: 0.8;
}

.bottom {
    display: none;
}

/* MOBILE/TABLET RULES */

@media screen and (max-width: 1023px) {
    .sidebar {
        display: none;
        width: 100vw;
        z-index: 100000;
        background-color: rgba(32,32,32,0.98);
        padding: 1em 3em;
    }

    .bottom {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        width: 100vw;
        background-color: rgb(32,32,32);
        padding: 0.8em 1.2em;
        text-align: right;
    }

    .bottom label i {
        font-size: 1.6em;
        color: #eee;
    }
}
