.main {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 20vw;
    width: 80vw;
    color: #fff;
    text-align: center;
    padding: 5vh 25vw;
    user-select: none;
    cursor: default;
}

/* MOBILE/TABLET RULES */

@media screen and (max-width: 1023px) {
    .main {
        left: 0;
        width: 100vw;
        padding: 5vh 7vw;
    }
}
